<div class="container d-flex justify-content-center">
    
    <form [formGroup]="form" (submit)="processBooking()">
        <div class="row my-3">
            <h1 class="text-center">{{isEdit ? 'Edit Event' : 'Create Event'}}</h1>
        </div>
        <div class="row mb-5 mx-auto w-25">
            <button type="button" mat-raised-button color="warn"
             [routerLink]="['/events']">Back to Events</button>
        </div>
        <div class="row mb-3">
            <mat-form-field>
                <mat-label>Event name</mat-label>
                <input matInput type="text" id="name" formControlName="name">
                <mat-error *ngIf="form.get('name')?.hasError('required') &&
                form.get('name')?.touched">Event name is required</mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field>
                <mat-label>Event Description</mat-label>
                <textarea matInput id="description"
                 rows="5" formControlName="description">
                </textarea>
                <mat-error *ngIf="form.get('description')?.hasError('required') &&
                form.get('description')?.touched">Description is required</mat-error>
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <mat-form-field>

                <mat-label>Event Start Time</mat-label>
                <mat-datetimepicker-toggle
                    [for]="startTimePicker"
                    matSuffix
                ></mat-datetimepicker-toggle>
                <mat-datetimepicker
                    #startTimePicker
                    type="datetime"
                    [openOnFocus]="true"
                    [timeInterval]="5"
                    mode="portrait"
                ></mat-datetimepicker>
                <input matInput [matDatetimepicker]="startTimePicker" id="startTime"
                 formControlName="startTime">

                <mat-error *ngIf="form.get('startTime')?.getError('required') 
                && form.get('startTime')?.touched">Start time is required</mat-error>
                
                <mat-error *ngIf="form.getError('laterThanCurrentDateTime','startTime')
                && form.get('startTime')?.touched">Start time should not be before current time</mat-error>
            </mat-form-field>
            
        </div>

        <div class="row mb-3">
            <mat-form-field>

                <mat-label>Event end Time</mat-label>
                <mat-datetimepicker-toggle
                    [for]="endTimePicker"
                    matSuffix
                ></mat-datetimepicker-toggle>
                <mat-datetimepicker
                    #endTimePicker
                    type="datetime"
                    [openOnFocus]="true"
                    [timeInterval]="5"
                    mode="portrait"
                ></mat-datetimepicker>
                <input matInput [matDatetimepicker]="endTimePicker" id="endTime"
                 formControlName="endTime">

                <mat-error *ngIf="form.get('endTime')?.getError('required') 
                && form.get('endTime')?.touched">End time is required</mat-error>

                <mat-error *ngIf="form.getError('laterThanCurrentDateTime','endTime')
                && form.get('endTime')?.touched">End time should not be before current time</mat-error>

                <mat-error *ngIf="form.getError('endLaterThanStart')
                && form.get('endTime')?.touched">End Time should not be before Start Time</mat-error>
            </mat-form-field>
            
            
        </div>
        <hr>
        <div class="row my-3">
            <button class="my-3" mat-raised-button color="primary"
             type="button" (click)="openSearch()">
                Add Games
            </button>

            <button class="mb-3"  mat-stroked-button color="primary" 
            *ngIf="!!eventGames.length" type="button" (click)="toggleGames()">
                {{showGames ? 'Hide': 'Show'}} Games
            </button>
            <p *ngIf="!hasGame" class="text-center text-danger">Minimum of one game must be added</p>

            <div *ngIf="showGames" class="d-flex flex-column justify-content-center text-center">
                <ng-container *ngIf="eventGames$ |async as games">
                    <ng-container *ngFor="let game of games as GameSummary">
                        <div class="p-2 d-flex justify-content-center align-items-center">
                            <img [src]="game.coverUrl" alt="">
                            <a class="p-2" (click)="getGame(game.id)">{{game.name}}</a>
                            <button type="button" mat-icon-button (click)="deleteGameFromStore(game.id)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            
        </div>
        <hr>
        <div class="row mb-3">
            <mat-form-field [hideRequiredMarker]="true">
                <mat-label >Event Details</mat-label>
                <textarea matInput id="details"
                    rows="5" formControlName="details">
                </textarea>
                
            </mat-form-field>
        </div>

        <div class="row mb-3">
            <button mat-raised-button color="warn" type="submit" [disabled]="form.invalid || !hasGame">
                {{isEdit ? 'Save Changes' : 'Create Event'}}
            </button>
        </div>
        
    </form>
</div>

<!-- <form [formGroup]="form" (submit)="processBooking()">
    <table border="1px">
        <tr>
            <td>
                <label for="eventName">Event Name:</label>
            </td>
            <td>
                <input type="text" id="eventName" formControlName="name">
                <p *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                    Name Required
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="eventDescription">Event Description:</label>
            </td>
            <td>
                <textarea name="" id="eventDescription"
                 cols="30" rows="5" formControlName="description">
                </textarea>
                <p *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
                    Description Required
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="startTime">Start DateTime:</label>
            </td>
            <td>
                <input type="datetime-local" step="300" id="startTime" formControlName="startTime">
                <p *ngIf="form.get('startTime')?.getError('required') 
                && form.get('startTime')?.touched">
                    Start Time Required
                </p>
                <p *ngIf="form.getError('laterThanCurrentDateTime','startTime')
                 && form.get('startTime')?.touched">
                    Start Time Should not be Before Current Time
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="endTime">End DateTime:</label>
            </td>
            <td>
                <input type="datetime-local" step="300" id="endTime" formControlName="endTime">
                <p *ngIf="form.get('startTime')?.getError('required') 
                && form.get('startTime')?.touched">
                    End Time Required
                </p>
                <p *ngIf="form.getError('laterThanOrEqualToCurrentDateTime','endTime')
                 && form.get('endTime')?.touched">
                    End Time Should not be Before Current Time
                </p>
                <p *ngIf="form.getError('endLaterThanStart')
                 && form.get('endTime')?.touched">
                    End Time Should not be Before Start Time
                </p>
            </td>
        </tr>
        <tr>
            <td>Games:
                
            </td>
            <td>
                <button type="button" (click)="openSearch()">Add Games</button>
                <div *ngIf="eventGames$ |async as games">
                    <ng-container *ngFor="let game of games as GameSummary">
                        <div><a (click)="getGame(game.id)">{{game.name}}</a>
                            <button type="button" (click)="deleteGameFromStore(game.id)">X</button>
                        </div>
                    </ng-container>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="eventDetails">Details:</label>
            </td>
            <td>
                <textarea name="" id="eventDetails"
                 cols="30" rows="5" formControlName="details"></textarea>
                
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" [disabled]="form.invalid || !hasGame">
                    {{isEdit ? 'Save Changes' : 'Create Event'}}
                </button>
            </td>
        </tr>
    </table>
    
</form> -->