<p>register works!</p>

<div>
    <form [formGroup]="form" (submit)="processForm()">
        <table>
            <tr>
                <td><label for="email">Email:</label></td>
                <td>
                    <input type="email" id="email" formControlName="email">
                    <span *ngIf="form.get('email')?.getError('emailExists')">Email Taken</span>
                </td>
            </tr>
            <tr>
                <td><label for="username">Username:</label></td>
                <td>
                    <input type="text" id="username" formControlName="username">
                </td>
                <span *ngIf="form.get('username')?.getError('usernameExists')">Username Taken</span>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td>
                    <input type="password" id="password" formControlName="password">
                </td>
                <span *ngIf="form.get('password')?.getError('invalidPassword')">
                    Password must be between 10-64 characters, contain at least 1 Uppercase and 1 Lowercase alphabet, and at least 1 number
                </span>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" [disabled]="form.invalid">Submit</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Already have an account? <a [routerLink]="['/Login']">Login.</a>
                </td>
            </tr>
        </table>
    </form>
</div>