.game-paginator {
    display: flex;
    justify-content: center;
}

td {
    padding: 15px;
    text-align: left;
}

#searchDiv {
    position: sticky;
    position: -webkit-sticky;
    top: 5rem; 
}

u {
    cursor: pointer;
}