<div class="container d-flex text-center justify-content-center">
    <form [formGroup]="form" (submit)="processForm()">
        <div class="row mb-3 mt-5">
            <h1>Login</h1>
        </div>
        <div class="row mb-3">
            <mat-form-field >
                <mat-label>Username</mat-label>
                <input matInput type="text" id="username" formControlName="username">
                <mat-error *ngIf="form.get('username')?.hasError('required') &&
                form.get('username')?.touched">Please fill in your username</mat-error>
            </mat-form-field>
        </div>
        <div class="row mb-3">
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" formControlName="password">
                <mat-error *ngIf="form.get('password')?.hasError('required') &&
                form.get('password')?.touched">Please fill in your password</mat-error>
            </mat-form-field>
        </div>
        <div class="row mb-3">
            <button type="button" [disabled]="form.invalid" mat-flat-button color="primary"
             (click)="processForm()">Login</button>
        </div>
        <div class="row">
            <p>Don't have an account? <a [routerLink]="['/register']">Register here.</a></p>
        </div>
        
    </form>
</div>
